<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<title>社員管理</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/employees">社員管理</a>
			</div>
		</div>
	</nav>
 	<div class="container">
		<div class="card card-primary mb-3">
			<div class="card-header">
				<h5 class="card-title">社員詳細</h5>
			</div>
			<div class="card-body">
				<div th:object="${empForm}">
					<div class="form-group row">
						<label class="col-md-2 control-label">適用開始日</label>
						<div class="col-md-10 form-control-static" th:text="*{appStaDate}"></div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 control-label">適用終了日</label>
						<div class="col-md-10 form-control-static" th:text="*{appEndDate}"></div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 control-label">社員番号</label>
						<div class="col-md-10 form-control-static" th:text="*{empNum}"></div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 control-label">社員名</label>
						<div class="col-md-10 form-control-static" th:text="*{EmpNm}"></div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 control-label">パスワード</label>
						<div class="col-md-10 form-control-static" th:text="*{passWord}"></div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 control-label">社員区分</label>
						<div class="col-md-10">
							<select id="singleSelect" name="empDiv" class="form-control" disabled>
								<option th:each="item : ${empDivItems}" th:value="${item.key}" th:text="${item.value}" th:selected="${item.key} == *{empDiv}">[[${item.value}]]</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/jquery-3.5.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>